body, html {
	margin: 0;
	padding: 0;
	background-color: pink;
}

.some-list-class {
	list-style-type: none;
	margin: 0;
}

ul.some-list-class li {
	/* height: 30px; */
	color: #000;
	padding: 20px;
}